* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "Maple Mono SC NF", "otf-font-awesome";
  font-size: 14px;
}

 window#waybar {
  /* background-color: rgba(26, 27, 38, 0.5); */
  background-color: #11111B;
  color: #cdd6f4;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-top: 8px transparent;
  border-radius: 5px;
  transition-duration: 0.5s;
  margin: 16px 16px;
}

/* window#waybar.hidden {
  opacity: 0.2;
} */

#workspaces {
  background: #0c0e0f;
  margin: 5px 5px;
padding: 4px 1px;
  border-radius: 16px;
border: solid 0px #cdd6f4;
font-weight: normal;
font-style: normal;
}
#workspaces button {
  padding: 0px 4px;
  margin: 0px 3px;
  border-radius: 16px;
  color: #2f354a;
  background-color: #2f354a;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: #cdd6f4;
  background-color: #cdd6f4;
  border-radius: 16px;
  min-width: 50px;
  background-size: 400% 400%;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  background-color: #cdd6f4;
  color: #cdd6f4;
  border-radius: 16px;
min-width: 50px;
background-size: 400% 400%;
}

#window {
  /* border-radius: 20px; */
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  color: #64727d;
}


#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#bluetooth,
#custom-power-menu {
  padding: 0px 8px;
  color: #cdd6f4;
  border-radius: 9px;
  background-color: #1e2230;

  margin: 4px 2px;
}


#window,
#workspaces {
  margin: 0 4px;
  border-radius: 7.8px;
  background-color: #11111B;
}

#cpu {
  color: #c68df5;
}

#memory {
  color: #c68df5;
}

#custom-power-menu {
  border-radius: 9.5px;
  border-radius: 7.5px;
  padding: 0 2px;
}

#custom-launcher {
  color: #c68df5;
  border-radius: 7.5px;
  padding: 0 3px;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#pulseaudio {
  color: #cdd6f4;
  padding-right: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px
}

#backlight{
  color: #cdd6f4;
  padding-right: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px
}

#clock {
  color: #cdd6f4;
  /* background-color: #14141e; */
}

#battery {
  color: #cdd6f4;

  padding-right: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px
  /* background-color: #90b1b1; */
}

#battery.charging,
#battery.full,
#battery.plugged {
  color: #cdd6f4;
  /* background-color: #26a65b; */
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#disk {
  background-color: #964b00;
}

#bluetooth {
  color: #cdd6f4;
}

#bluetooth.disconnected {
  color: #cdd6f4;
}

#network {
  color: #cdd6f4;

  padding-right: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px
}

#network.disconnected {
  color: #cdd6f4;

  padding-right: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#tray > .passive {
  -gtk-icon-effect: dim;
  
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}


#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}
#custom-playerctl {
	background: transparent;
	padding-left: 15px;
  padding-right: 8px;
	border-radius: 16px;
  /*border-left: solid 1px #282738;*/
  /*border-right: solid 1px #282738;*/
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
}

#custom-playerlabel {
    background: transparent;
    padding-left: 10px;
    padding-right: 15px;
    font-size: 12px;
    color: #CDD6F4
    /*border-left: solid 1px #282738;*/
    /*border-right: solid 1px #282738;*/
}

#keyboard-state > label {
  padding: 0 5px;
}


#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}
